/* Основні стилі для тіла */
html, body {
    height: 100%; /* Встановлюємо висоту на 100%, щоб адаптувати сторінку до висоти екрану */
    margin: 0; /* Видаляємо відступи по замовчуванню */
    font-family: Arial, sans-serif; /* Встановлюємо шрифт Arial для всіх елементів */
}

body {
    display: flex; /* Використовуємо Flexbox для розташування елементів */
    flex-direction: column; /* Вертикальне розташування елементів */
    background-image: url(images/shpalery.jpg); /* Фон сторінки */
}

header {
    background-image: url(images/header.jpg); /* Фон для заголовка */
    color: darkgoldenrod; /* Колір тексту */
    text-align: center; /* Центруємо текст */
    padding: 20px 0; /* Відступи для заголовка */
}

/* Стилі для заголовка */
header h1 {
    text-shadow: 
        2px 2px 0px black,   /* перший контур */
        -2px -2px 0px black,  /* другий контур */
        2px -2px 0px black,   /* третій контур */
        -2px 2px 0px black;   /* четвертий контур */
}

/* Стилі для підзаголовка в хедері */
header p {
    font-weight: bold; /* Текст жирним */
}

/* Навігаційне меню */
nav {
    display: flex;
    justify-content: center; /* Центруємо елементи меню */
    background-color: #333; /* Колір фону меню */
    text-align: center;
}

nav a {
    color: white; /* Колір тексту в меню */
    padding: 14px 20px; /* Відступи для пунктів меню */
    text-decoration: none; /* Видаляємо підкреслення */
    text-align: center; /* Центруємо текст */
    position: relative; /* Для правильного позиціонування випадаючого списку */
}

/* Стилі для пунктів меню при наведенні */
nav a:hover {
    background-color: #ddd; /* Зміна кольору фону при наведенні */
    color: black; /* Зміна кольору тексту */
}

/* Стилі для випадаючого списку */
.list1 {
    list-style-type: none; /* Видаляємо маркери списку */
    margin: 0; /* Видаляємо відступи */
    padding: 0; /* Видаляємо відступи */
    padding: 14px 20px; /* Відступи для списку */
}

/* Стилі для елементів списку */
.list1 > li {
    display: inline-block; /* Горизонтальне розташування елементів */
    position: relative; /* Для правильного позиціонування випадаючого списку */
    margin: 3% 0;
}

/* Випадаючий список за замовчуванням прихований */
.list1 .list2 {
    display: none; /* Сховати підменю */
    position: absolute; /* Абсолютне позиціонування */
    top: 100%; /* Встановлюємо позицію під пунктом меню */
    left: -60%; /* Розташовуємо меню ліворуч від основного пункту */
    width: 200px; /* Ширина випадаючого меню */
    z-index: 2; /*щоб було видно меню перед каруселлю в html фотогаларея*/
}

/* Стилі для пунктів у випадаючому списку */
.list1 .list2 li {
    padding: 14px 20px;
    list-style: none; /* Видаляємо маркери */
    background-color: #333; /* Колір фону підменю */
    border: 2px solid wheat; /* Обведення для пунктів */
}

.list1 .list2 li a {
    color: white; /* Колір тексту в підменю */
    text-decoration: none; /* Видаляємо підкреслення */
    display: block; /* Робимо посилання блочними елементами */
}

/* Зміна кольору при наведенні на пункт в підменю */
.list1 .list2 li a:hover {
    color: black; /* Зміна кольору тексту при наведенні */
}

/* Показати підменю при наведенні на основний пункт меню */
.list1 > li:hover .list2 {
    display: block; /* Відображаємо підменю */
}

/* Стилі для розділу контенту */
section {
    padding: 20px; /* Відступи для секцій */
    flex-grow: 1; /* Зростання секції для заповнення вільного простору */
}

/* Заголовки секцій */
h2 {
    color: #333; /* Колір тексту */
}

/* Стилі для футера */
footer {
    background-color: #333; /* Колір фону футера */
    color: darkgoldenrod; /* Колір тексту футера */
    text-align: center; /* Центруємо текст */
    padding: 10px 0; /* Відступи для футера */
    margin-top: auto; /* Позиціюємо футер внизу сторінки */
    font-weight: bold; /* Жирний текст */
}

/* Стилі для карток */
.card {
    background-color: #fff; /* Колір фону картки */
    border-radius: 8px; /* Заокруглені кути картки */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь для картки */
    margin: 10px; /* Відступи між картками */
    padding: 15px; /* Внутрішні відступи для картки */
    text-align: center; /* Центруємо текст всередині картки */
    border: 2px solid #333;
    margin: 1% 20%;
}

/* Стилі для зображень в картках */
.card img {
    width: 100%; /* Ширина зображення 100% */
    max-width: 300px; /* Максимальна ширина 300px */
    border-radius: 8px; /* Заокруглені кути для зображення */
}

/* Стилі для секції контактів */
#contacts {
    background-color: wheat; /* Колір фону для секції контактів */
    border-radius: 20px 20px 0 0; /* Заокруглені верхні кути */
    border: 5px solid #333; /* Обведення для секції */
}

.h2_header{
    background-color: #fff; /* Фон заголовка */
    border-radius: 50%; /* Заокруглені кути заголовка */
    border: 2px solid #333; /* Обведення заголовка */
    text-align: center; /* Центруємо текст */
    margin: 0 20%;
}