.qqq{
    position: fixed;
    display: inline-block;
    color: white;
    background-color: rgb(151, 7, 7);
    width: 100%;
}

        /* Змінити ширину скроллбару */
        ::-webkit-scrollbar {
            width: 12px; /* Ширина вертикального скроллбару */
        }

        /* Змінити колір і вигляд повзунка (це те, що ми тягнемо) */
        ::-webkit-scrollbar-thumb {
            background-color: white; /* Зелений колір для повзунка */
            border-radius: 10px; /* Округлі кути повзунка */
        }

        /* Змінити колір фону скроллбару */
        ::-webkit-scrollbar-track {
            background-color: #e0e0e0; /* Світло-сірий фон для скроллбару */
        }

        /* Змінити висоту горизонтального скроллбару */
        ::-webkit-scrollbar-horizontal {
            height: 8px; /* Висота горизонтального скроллбару */
        }

        /* Додатковий стиль для тіла сторінки, щоб був скроллбар */
        body {
            height: 2000px; /* Додаємо висоту, щоб був скроллбар */
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: black;
        }

.rrr li{
    display: inline-block;
}

.www{
    display: none;
}

.eee:hover .www{
    display: block;
    position: absolute;    
    top: 30px;
    left: 40px;
   
}

.www li{
    border: 2px solid white;
    margin: right 150px;
}



.li{
    margin: 30px;
}

.eee{
   padding: 25px;
}


body{
    color: white;
}




.article-item{
    display:flex;
    align-items:center;
  }
  .article-item .article-img,.article-item .article-text{
    flex:50%;
  }
  .article-item:nth-child(odd){
    flex-direction:row-reverse;
  }



  .article-item .article-text p {
    text-align: justify;
  }


  img{
    width: 25%;
    margin: 5%;
  }

  .page-header, .articles{
    margin-top: 15%;
  }
  

  .page-header{
    margin-left: 5%;
    text-align: center;
  }

  .articles{
    margin-left: 12%;
    margin-right: 12%;
  }


  h3{
    font-size:26px;
    background:linear-gradient(to left,#5d5d5d,#ddd);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
  }



  h1{
    font-size: 90px;
    color: #fff;
  }
